* {
  font-family: "Nunito";
}
body {
  background-color: #17255a;
  color: #f2dbba;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  width: 100%;
  /* border: solid 1px white; */
  display: flex;
  justify-content: center;
  margin: 25px;
}

.flex-container-answers {
  /* border: solid 1px white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#question {
}

#answers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#answers h3 {
  margin: 50px;
  padding: 30px;
  border: solid 1px blue;
}

#answers a {
  font-size: 1.3rem;
  padding: 20px 50px;
  border-radius: 7%;
  background-color: none;
  border: solid 1px #f2dbba;
  cursor: pointer;
}

#answers a:hover {
  font-size: 1.3rem;
  padding: 20px 50px;
  border-radius: 7%;
  background-color: none;
  border: solid 1px #f2dbba;
  color: #17255a;
  background-color: #f2dbba;
  cursor: pointer;
}

#correct {
  padding: 20px 50px;
  background-color: green;
  color: white;
}

#correct-sign {
  display: none;
}

.incorrect {
  color: red;
}

#incorrect-sign {
  display: none;
}
